* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
#root {
	height: 100%;
}

html {
	background-color: #FAFAFA;
}

body {
	display: flex;
    flex-direction: column;
	font-family: 'Hammersmith One', sans-serif;
}

p {
	margin: 0 0 0.5rem 0;
}
