.route-selector__slider-wrapper {
	padding-bottom: 30px;

	.rangeslider__handle,
	.rangeslider__fill {
		animation: fade-in 0.85s ease-in-out;
	}

	.rangeslider__label-item[data-value="0"] {
		left: 0 !important;
		transform: translate3d(0, 0, 0);
	}

	.rangeslider__label-item:not([data-value="0"]) {
		left: auto !important;
		right: 0;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fade-in {
    0% { opacity: 0; }
	70% { opacity: 0; }
    100% { opacity: 1; }
}