.rangeslider-wrapper {
	padding-bottom: 18px;

	.rangeslider {
		margin: 16px 0;
	}

	.rangeslider__handle,
	.rangeslider__fill {
		animation: fade-in 0.85s ease-in-out;
	}

	.rangeslider__handle {
		background: radial-gradient(circle, #e8e8e8 0%, #fafafa 100%);

		&:after {
			background: transparent;
			box-shadow: none;
		}
	}

	.rangeslider__labels {
		margin-top: 8px;
	}

	.rangeslider__label-item[data-value="0"] {
		left: 0 !important;
		transform: translate3d(0, 0, 0);
	}

	.rangeslider__label-item:not([data-value="0"]) {
		left: auto !important;
		right: 0;
		transform: translate3d(0, 0, 0);
	}
}


.passengers__slider {
	.rangeslider__fill {
		background: linear-gradient(to right, #e27b21 0vw, #522701 100vw);
	}

	.rangeslider__label-item[data-value="1"] {
		left: 0 !important;
		transform: translate3d(0, 0, 0);
	}
}


.route-selector__slider .rangeslider__fill {
	background: linear-gradient(to right, #6b8a0d 0vw, #252f03 100vw);
}


.vehicle-info__slider .rangeslider__fill {
	background: linear-gradient(to right, #0b8ba9 0vw, #03292f 100vw);
}


@keyframes fade-in {
    0% { opacity: 0; }
	70% { opacity: 0; }
    100% { opacity: 1; }
}